ErrorDocument 404 /includes/404.html.php
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^awards/category/([-()a-z0-9]*)/([-()a-z0-9]*)$ awards/category/?awrds_url=$1&awrd_ctgry_url=$2 [L,QSA]
RewriteRule ^awards/ceremony/([-()a-z0-9]*)/([-0-9]*)$ awards/ceremony/?awrds_url=$1&awrd_yr_url=$2 [L,QSA]
RewriteRule ^awards/year/([0-9]*)$ awards/year/?awrd_yr=$1 [L,QSA]
RewriteRule ^awards/([-()a-z0-9]*)$ awards/?awrds_url=$1 [L,QSA]
RewriteRule ^character/ability/([-()a-z0-9]*)$ character/ability/?abil_url=$1 [L,QSA]
RewriteRule ^character/attribute/([-()a-z0-9]*)$ character/attribute/?attr_url=$1 [L,QSA]
RewriteRule ^character/ethnicity/([-()a-z0-9]*)$ character/ethnicity/?ethn_url=$1 [L,QSA]
RewriteRule ^character/origin/([-()a-z0-9]*)$ character/origin/?lctn_url=$1 [L,QSA]
RewriteRule ^character/profession/([-()a-z0-9]*)$ character/profession/?prof_url=$1 [L,QSA]
RewriteRule ^character/([-()a-z0-9]*)$ character/?char_url=$1 [L,QSA]
RewriteRule ^company/location/([-()a-z0-9]*)$ company/location/?lctn_url=$1 [L,QSA]
RewriteRule ^company/type/([-()a-z0-9]*)$ company/type/?comp_typ_url=$1 [L,QSA]
RewriteRule ^company/([-()a-z0-9]*)$ company/?comp_url=$1 [L,QSA]
RewriteRule ^course/type/([-()a-z0-9]*)/([-()a-z0-9]*)$ course/type/?comp_url=$1&crs_typ_url=$2 [L,QSA]
RewriteRule ^course/year/([-()a-z0-9]*)$ course/year/?crs_yr=$1 [L,QSA]
RewriteRule ^course/([-()a-z0-9]*)/([-()a-z0-9]*)/([-()a-z0-9]*)$ course/?comp_url=$1&crs_typ_url=$2&crs_yr_url=$3 [L,QSA]
RewriteRule ^festival/([-()a-z0-9]*)$ festival/?fstvl_url=$1 [L,QSA]
RewriteRule ^material/format/([-()a-z0-9]*)$ material/format/?frmt_url=$1 [L,QSA]
RewriteRule ^material/([-()a-z0-9]*)/([-()a-z0-9]*)$ material/?frmt_url=$1&mat_url=$2 [L,QSA]
RewriteRule ^person/ethnicity/([-()a-z0-9]*)$ person/ethnicity/?ethn_url=$1 [L,QSA]
RewriteRule ^person/origin/([-()a-z0-9]*)$ person/origin/?lctn_url=$1 [L,QSA]
RewriteRule ^person/profession/([-()a-z0-9]*)$ person/profession/?prof_url=$1 [L,QSA]
RewriteRule ^person/([-()a-z0-9]*)$ person/?prsn_url=$1 [L,QSA]
RewriteRule ^playtext/setting/location/([-()a-z0-9]*)$ playtext/setting/location/?lctn_url=$1 [L,QSA]
RewriteRule ^playtext/setting/place/([-()a-z0-9]*)$ playtext/setting/place/?plc_url=$1 [L,QSA]
RewriteRule ^playtext/setting/time/([-()a-z0-9]*)$ playtext/setting/time/?tm_url=$1 [L,QSA]
RewriteRule ^playtext/category/([-()a-z0-9]*)$ playtext/category/?ctgry_url=$1 [L,QSA]
RewriteRule ^playtext/feature/([-()a-z0-9]*)$ playtext/feature/?ftr_url=$1 [L,QSA]
RewriteRule ^playtext/genre/([-()a-z0-9]*)$ playtext/genre/?gnr_url=$1 [L,QSA]
RewriteRule ^playtext/text-version/([-()a-z0-9]*)$ playtext/text-version/?txt_vrsn_url=$1 [L,QSA]
RewriteRule ^playtext/theme/([-()a-z0-9]*)$ playtext/theme/?thm_url=$1 [L,QSA]
RewriteRule ^playtext/year/([-()a-z0-9]*)$ playtext/year/?pt_yr_wrttn=$1 [L,QSA]
RewriteRule ^playtext/([-()a-z0-9]*)$ playtext/?pt_url=$1 [L,QSA]
RewriteRule ^production/setting/location/([-()a-z0-9]*)$ production/setting/location/?lctn_url=$1 [L,QSA]
RewriteRule ^production/setting/place/([-()a-z0-9]*)$ production/setting/place/?plc_url=$1 [L,QSA]
RewriteRule ^production/setting/time/([-()a-z0-9]*)$ production/setting/time/?tm_url=$1 [L,QSA]
RewriteRule ^production/category/([-()a-z0-9]*)$ production/category/?ctgry_url=$1 [L,QSA]
RewriteRule ^production/feature/([-()a-z0-9]*)$ production/feature/?ftr_url=$1 [L,QSA]
RewriteRule ^production/genre/([-()a-z0-9]*)$ production/genre/?gnr_url=$1 [L,QSA]
RewriteRule ^production/prod-version/([-()a-z0-9]*)$ production/prod-version/?prd_vrsn_url=$1 [L,QSA]
RewriteRule ^production/text-version/([-()a-z0-9]*)$ production/text-version/?txt_vrsn_url=$1 [L,QSA]
RewriteRule ^production/theme/([-()a-z0-9]*)$ production/theme/?thm_url=$1 [L,QSA]
RewriteRule ^production/([0-9]*)/([-()a-z0-9]*)$ production/?prd_id=$1&prd_url=$2 [L,QSA]
RewriteRule ^season/([-()a-z0-9]*)$ season/?ssn_url=$1 [L,QSA]
RewriteRule ^theatre/location/([-()a-z0-9]*)$ theatre/location/?lctn_url=$1 [L,QSA]
RewriteRule ^theatre/type/([-()a-z0-9]*)$ theatre/type/?thtr_typ_url=$1 [L,QSA]
RewriteRule ^theatre/([-()a-z0-9]*)$ theatre/?thtr_url=$1 [L,QSA]
RewriteRule ^tour-type/([-()a-z0-9]*)$ tour-type/?thtr_url=$1 [L,QSA]